/* @font-face {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
} */

/* @font-face {  
  font-family: "Roboto-ligth";
  src: url(fonts/Roboto-Bold.ttf);
  color: white;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  font-family:  'Nunito Sans', sans-serif , Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
  color: white;
  width: auto; 
}

body{
  background-image: url(img/fondo1350x2496.png);
  background-position: center;
  background-attachment: scroll; 
  background-size: cover;
  background-repeat: repeat-y;
  cursor: url(img/cursor-rojo.png), auto;
} 

h1{
  font-size: 160px;
  /* letter-spacing: -5px;   */
  text-shadow: 3px 3px 3px  rgba(252, 219, 219, 0.685);
}

h2{
  /* padding-top: 5px; */
  /* padding-left: 10px; */
  font-size: 120px;
  font-weight: 800;
  letter-spacing: -6px;  
}

h3{
  font-size: 35px;
}

h4{
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 0px;
}

p{
  font-size: 20px;
  text-align: left;
}

.menu {
  margin-top: 50px;
}

.menu .navbar ul li :hover {
  background: red;
  padding: 10px;
  
}


.menu .navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  
}


/* esto es lo que hace que el submenu
 quede dentro del menu*/
.menu .navbar ul li a {
  position: relative;
  display: grid;
  color: white;
  text-decoration: none;
    
}


/*Estilos para submenu*/

.submenu li {
  display: none;
  position: absolute;
  left: 0;
  padding-top: 0;
  margin-top: 0;
  min-width: 180px;
  z-index: 100;
}



.saludo {
  width: 900px;
  height: 400px;
  /* background-color: rgb(10, 85, 23); */
  line-height: 140px;
  padding-top: 10px;
  padding-left: 30px;
  /* padding: 30px; */
}

.Esto{
  font-weight: 400px;
  color: rgb(71, 69, 69);
}

.Es{
  font-weight: 600px;
  color: rgb(138, 137, 137);
}

.marterojo{
  color: white;
  font-weight: 900px;
  
}

.estoesmarte-cambio{
  letter-spacing: -15px;
}

.copysaludo{
  padding: 20px;
  line-height: 30px;
}

.scroll {
  margin-top: 25px;
  margin-left: 50%;
}

/* efecto de ampliar 
texto al llegar a la pagina   */
/* .saludo{
  letter-spacing: 1px;
  opacity: 0;
  animation: fadeIn 4s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
     transform: scale(0.1);
     opacity: 0;
  }
  50% {
     opacity: 0.5;
  }
  100% {
     transform: scale(1);
     opacity: 1;
  }
}  */



.saludo{
  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: reverse;
}
@keyframes slidein {
  to {
    transform: translateY(10%);
    opacity: 0;  
  }
}

.MARTE{
  color: red;

}

#video{
  position: relative;
  margin-top: 50px;
  margin-left: 90px;
  
}


/* planeta de inicio */
.planeta7 {
  position: absolute;
  z-index: -1;
  top: 120px;
  right: 20px;
}

.planeta1 {
  position: absolute;
  z-index: -1;
  top: 2300px;
  right: 10px;
}

.planeta2 {
  position: absolute;
  z-index: 1;
  top: 1150px;
  left: 1px;
}

.planeta3 {
  position: absolute;
  z-index: -1;
  border-top: 0px;
  left: 70%;
}

.planeta4 {
  position: absolute;
  z-index: -1;
  top: 1900px;
  left: 2px;
  filter: blur(1px);
}

.planeta5 {
  position: absolute;
  z-index: -1;
  top: 370px;
  left: 40px;
  filter: blur(3px); /* Ajusta el valor de desenfoque según tus necesidades */
}

.planeta6 {
  position: absolute;
  z-index: 1;
  top: 3600px;
  left: 15px;
  filter: blur(5px);
}

.planeta8 {
  position: absolute;
  z-index: 1;
  top: 2900px;
  left: 60px;
  filter: blur(1px);  
}

.sol {
  position: absolute;
  z-index: 1;
  top: 4000px;
  right: 30px;
}

.subtitle2 {
  padding: 40px 25px;
  text-align: left;
}

.copy{
  padding-right: 30px; /*asi separo el texto del subtitulo*/
  padding-left: 20px;
  padding-bottom: 20px;
  line-height: 35px;
}

.seccion2{
  width: 300px;
  height: 360px;
  background: rgb(74, 12, 243,10% ) ; /*este ultimo valor es la transparencia*/
  box-shadow: 12px 10px 55px 5px rgb(230, 229, 235, 0.2);
  margin-left:60%;
  margin-top: 20%;
  border-radius: 15px;
}

.seccion3{
  width: 300px;
  height: 360px;
  background: rgb(74, 12, 243, 10% ) ; /*este ultimo valor es la transparencia*/
  box-shadow: 12px 10px 55px 5px rgb(230, 229, 235, 0.2);
  margin-left: 20%;
  margin-top: 10%;
  border-radius: 15px;
}

.seccion4{
  width: 300px;
  height: 360px;
  background: rgb(74, 12, 243, 20% ) ; /*este ultimo valor es la transparencia*/
  box-shadow: 12px 10px 55px 5px rgb(230, 229, 235, 0.2);
  margin-left: 30%;
  margin-top: 10%;
  border-radius: 15px;
}

.seccion5{
  width: 300px;
  height: 360px;
  background: rgb(74, 12, 243, 25% ) ; /*este ultimo valor es la transparencia*/
  box-shadow: 12px 10px 55px 5px rgb(230, 229, 235, 0.2);
  margin-left:30%;
  margin-top: 10%;
  border-radius: 15px;
}

.seccion6{
  width: 300px;
  height: 360px;
  background: rgb(74, 12, 243, 20% ) ; /*este ultimo valor es la transparencia*/
  box-shadow: 12px 10px 55px 5px rgb(230, 229, 235, 0.2);
  margin-left: 50%;
  margin-top: 10%;
  border-radius: 15px;
}


.logoblanco-container {
  position: absolute;
  margin-top: 240%;
}

.content{
  position: absolute;
  margin-top: 500px;
}



.seccion2 .subtitle {
  font-weight: bold;
}   
